.env
.idea/
.vscode
docker/backup/
docker/config/
docker/crontab
docker/database/data/
docker/files/
docker/logs/
docker/private/
docker/solr/
docker/ssh/
docker/traefik/acme*.json
docker/wodby/nginx-preset.conf
mutagen.yml.lock
pece-distro/
